<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="//fe.ksyun.com/last/base.css"> -->
    <title>graphql demo </title>
  </head>
  <body>
    <header class="ctrl-nav-container"></header>
    <div class="ctrl-sidebar-container"></div>
    <div class="ctrl-main-container" id="app"></div>
    <!-- <script type="text/javascript" src="//fe.ksyun.com/last/base.js"></script> -->
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
